# flutter
.DS_Store
.idea
.packages
.pub/
.dart_tool/
build/
ios/.generated/
packages
pubspec.lock
config.json
.flutter-plugins
.flutter-plugins-dependencies

# leancloud engine
node_modules
package-lock.json
npm-debug.log
start.sh
.avoscloud
.leancloud

# VIM
*~
*.swp